<div class="body-div">
  <div class="sub-body-div">
    <div class="body-container">
      <div class="body-content-one">
        <h3>Do More, Be More...</h3>
        <div>
          <h2>Experience Banking Made Easy with</h2>
          <span>Royal Bank</span>
        </div>
        <p>
          Access world class banking experience and financial services with
          ease. FOR FREE
        </p>
        <div class="body-button">
          <div class="button-div">
            <a class="btn1" href="/login">
              Login <i class="material-icons">exit_to_app</i>
            </a>
            <a class="btn2" href="create-account">
              Open account <i class="material-icons">account_balance</i>
            </a>
          </div>
        </div>
      </div>

      <div class="body-content-two">
        <img alt="" src="../../../assets/royal phone.png" />
      </div>
    </div>
  </div>
</div>
