.body-div {
  min-height: calc(100vh - 80px);
  background-image: url("../../../assets/royal-background.jpg");
}
.sub-body-div {
  /* border: 3px solid red; */
  width: 95%;
  margin: auto;
}
.body-container {
  /* border: 1px solid green; */
  padding-top: 100px;
  box-sizing: border-box;
  display: flex;
}
@media (max-width: 960px) {
  .body-container {
    padding-top: 70px;
  }
}
@media (max-width: 640px) {
  .body-container {
    display: block;
  }
}

.body-content-one {
  /* border: 3px solid blue; */
  width: 50%;
}
@media (max-width: 640px) {
  .body-content-one {
    width: 100%;
    text-align: center;
  }
}
.body-content-two {
  /* border: 3px solid purple; */
  width: 50%;
}
@media (max-width: 640px) {
  .body-content-two {
    width: 100%;
    text-align: center;
  }
}
img {
  width: 100%;
}
h3 {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 900;
  color: #333;
  margin: 0;
  padding: 0;
  /* border: 1px solid green; */
}
h2,
span {
  display: block;
  font-size: 3.3rem;
  line-height: 1.2;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-weight: 900;
  color: #333;
  margin-top: 7px;
}
@media (max-width: 960px) {
  h2,
  span {
    font-size: 2.8rem;
  }
}
span {
  color: #d9ac0b;
  /* border: 1px solid brown; */
  margin-top: -40px;
}
p {
  font-weight: 900;
  font-size: 16px;
  line-height: 1.4;
  color: #333;
  /* border: 1px solid green; */
  margin-top: -20px;
  width: 90%;
}
@media (max-width: 640px) {
  p {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .body-button {
    /* border: 3px solid blue; */
    display: flex;
    justify-content: center;
  }
}
.button-div {
  display: flex;
  align-items: center;
  column-gap: 1em;
  box-sizing: border-box;
  min-height: 80px;
  padding: 0 15px;
  font-size: 0.875rem;
  text-decoration: none;
  /* border: 3px solid blue; */
}
@media (max-width: 760px) {
  .button-div {
    display: block;
  }
}
@media (max-width: 640px) {
  .button-div {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .button-div {
    display: block;
    width: fit-content;
    /* border: 3px solid red; */
  }
}
a {
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  -webkit-appearance: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: 0.875rem;
  font-weight: 200;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  transition-property: color;
  margin-bottom: 10px;
}
@media (max-width: 760px) {
  a {
    width: fit-content;
  }
}
.btn1 {
  background-color: #e4e2f3;
  color: #25214f;
  border: transparent;
}
@media (max-width: 400px) {
  .btn1 {
    margin: auto;
    margin-bottom: 10px;
  }
}
.btn1:hover {
  background-color: #25214f;
  color: #e4e2f3;
}
.btn2 {
  background-color: #25214f;
  color: #e4e2f3;
  border: transparent;
}
.btn2:hover {
  background-color: #e4e2f3;
  color: #25214f;
}

i {
  font-size: 1.2rem;
  font-weight: 200;
  margin-left: 5px;
  /* border: 3px solid blue; */
}
