<div>
  <div class="footer">
    <div class="footer-main">
      <h5>Experience Royalty Anywhere</h5>
      <div>
        <img
          src="../../../assets/appstore.png"
          width="80"
          height="auto"
          alt="Android App"
        />
        <img
          src="../../../assets/googleplaystore.png"
          width="80"
          height="auto"
          alt="Android App"
          uk-img="true"
          loading="lazy"
        />
        <img
          src="../../../assets/RoyalBank-Internet-Banking.svg"
          width="80"
          height="auto"
          alt="Royal Bank Internet Banking"
          uk-img="true"
          loading="lazy"
        />
      </div>
      <p>&copy; 2022 Royal Bank Nigeria</p>
    </div>
  </div>
</div>
