.footer {
  background: #25214f;
  display: flow-root;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-main {
  /* border: 3px solid red; */
  width: 95%;
  margin: auto;
  color: white;
  text-align: center;
}
h5 {
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: 900;
  margin-bottom: 20px;
}
img {
  margin-left: 10px;
}
p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 20px;
}
