.nav-main {
  /* border: 3px solid red; */
  height: 80px;
  background-color: white;
}
img {
  margin-left: 20px;
}
@media (max-width: 400px) {
  img {
    margin-left: 5px;
  }
}
.spacer {
  flex: 1 1 auto;
}
