.button-div {
  display: flex;
  align-items: center;
  column-gap: 1em;
  box-sizing: border-box;
  min-height: 80px;
  padding: 0 15px;
  font-size: 0.875rem;
  text-decoration: none;
  /* border: 3px solid blue; */
}

a {
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  -webkit-appearance: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: 0.875rem;
  font-weight: 200;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  transition-property: color;
}
@media (max-width: 640px) {
  .btn1,
  .btn2 {
    display: none;
  }
}
.btn1 {
  background-color: #e4e2f3;
  color: #25214f;
  border: transparent;
}
.btn1:hover {
  background-color: #25214f;
  color: #e4e2f3;
}
.btn2 {
  background-color: #25214f;
  color: #e4e2f3;
  border: transparent;
}
.btn2:hover {
  background-color: #e4e2f3;
  color: #25214f;
}

i {
  font-size: 1.2rem;
  font-weight: 200;
  margin-left: 5px;
  /* border: 3px solid blue; */
}
@media (max-width: 640px) {
  i {
    margin-left: 0;
  }
}
.btn-mobile-one,
.btn-mobile-two {
  width: 40px;
  height: 40px;
  margin: 0;
  border: 3px solid green;
  text-transform: none;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  vertical-align: middle;
  font-size: 0.875rem;
  font-weight: 200;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  transition-property: color;
}
@media (max-width: 639px) {
  .btn-mobile-one,
  .btn-mobile-two {
    display: flex;
  }
}
.btn-mobile-one {
  background-color: #e4e2f3;
  color: #25214f;
  border: transparent;
}
.btn-mobile-one:hover {
  background-color: #25214f;
  color: #e4e2f3;
}
.btn-mobile-two {
  background-color: #25214f;
  color: #e4e2f3;
  border: transparent;
}
.btn-mobile-two:hover {
  background-color: #e4e2f3;
  color: #25214f;
  border: transparent;
}
